language: smalltalk
sudo: false
os:
- linux
smalltalk:
- Pharo64-8-0
script:
- bash ./build.sh
deploy:
  provider: releases
  api_key:
    secure: aoNvt+1f5DZ5jBKMP4Xlz6hoMhwF+Ulh2CEpQElzQx3T7o73t2Cdh145D+g8kZxRcOMIBDRY4OR4d/HmFmH3SiwhiIQ8K9Bs3Hgwzrup3VyJadR3nA5rrJJOUp2iIyGX9Oloyxretsu1DBjgkibmlTDH1UjJ8i8yBpEMAkQGABXFQjjoQD7wLbO/b7olPQW0nsU8224KLMPPwUJ/gjFV1CyAZ2G3qHcB8do4yh19C6doKm3YxTLto9ORNd0j6y0zOj+zQTx5Srbwths9g/HgMFUXyD27+1H8VDtfCPKrt6QT/JneaPWPt1She56PvtPlFwTaE7DBTST2G0hz7nvdhzxwHNOnzLSJKE/r+bK88mOLwJ1sauOOCNsCZnJ0/WTdzSF7n7prCiK5ud0ojO/L/heU5to9jvNWxCdIJyVCte5j8cbnfHm4hApsac6p6JDVQ3w186JN29UwlwoyBMa7wHqRbcmofU7Ez0H7B6ao+niwOsV70om0/ocG2JeE5go9j9CWsmwVzaFNdOoV4rdQ2vZKDtc7E28pX5llXKvSCX3D/K1C84iU77PTwjnR0qW5waWiR4nYMln8lYcpffmw320/Xfn2KmZ95MMORw55tr+WpA+eBBvbkND31qfQ3jxTxUVSRSGaJ5soS994s+StMzFyRxn8AFceobOkxb/QYZQ=
  file: QCMagritte.zip
  on:
    repo: udoschneider/QCMagritte
    all_branches: true
  skip_cleanup: 'true'
